*{
    box-sizing: border-box;
}

/* QR */

.QR_bg{
    background-color: #d5e1ef;
    /* width: 100%; */
    height: 70vh;  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;
    border-radius: 25px;
}

.QR_card{
    background-color: white;
    /* position: absolute; */
    border-radius: 15px;
    display: flex;
    width: 275px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.QR_holder{
    /* height: 250px; */
    width: 250px;
    position: relative;
    margin-top: 10px ;
    /* border-radius: 15px; */
    /* padding: 30px; */
}

.QR_image{
    /* filter: invert(),; */
    /* transform: scale(0.75); */
    object-fit: cover;
    max-width: 100%;
}

.QR_text{
    margin: 40px 10px 40px 10px;
    text-align: center;
    position: relative;
}

.QR_text-title{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
}

.QR_text-sub-title{
    color: #aaa;
}




/* calculator */



.calculator,.bg_1{
    background-color: #3B4664;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 50px;
}

.calculator_body {
    width: 450px;
    padding: 50px;
    height: 100%;
    font-family: 'Dela Gothic One', sans-serif;
}

.calculator_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator_themes{
    display: flex;
    font-size: 10px;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}

.theme_number{
    color:#FFF;
    padding: 0 2.5px;
}
.theme_indicator{
    
}   

.theme_button{
    background-color: #181F32;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.theme{
    opacity: 0;
}
.theme_pointer{
    background-color: #F26F5B;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    /* z-index: 1; */
}

.pos_1{
    left: 0;
    transition: all 0.2s ease-in-out;
}

.pos_2{
    left: calc(50% - 6px);
    transition: all 0.3s ease-in-out;
}


.pos_3{
    left: calc(100% - 12px);
    transition: all 0.2s ease-in-out;
}

.theme_button div:not(.theme_pointer){
    height: 100%;
    width: 33.33%;
    cursor: pointer;
    /* background-color: white; */
}
.calc{
    color: white;
    
}


.calculator_screen{
    width: 100%;
    height: 75px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #181F32;
}

.calculator_keys{
    width: 100%;
    background-color: #181F32;
    table-layout: fixed;
    border-spacing: 18px;
    border-radius: 5px;
}



.calculator_keys td{
    max-width: 70px;
    height: 50px;
}
.calculator_keys button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: #252a34;
    background-color: #d1ceca;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 18px;
    align-items: center;    
    
}

.calculator_keys button:hover{
    cursor: pointer;
    background-color: white;
    color:rgb(32, 31, 31)34;
}

.calculator_keys button.keys_actions:hover{
    background-color: #7290e3;
    color: #EFEFF7;
    border: #556184 1px solid;
    transition: all 0.1s ease;
    cursor: pointer;
}

.calculator_keys button.keys_bottom:not(.keys_actions):hover{
    background-color: #FA6B5B;
    color: #EFEFF7;
    border: #b04b40 1px solid;
    transition: all 0.1s ease;
    cursor: pointer;
}